
<%= render 'user_header', user: @user%>
<%= render 'user_navigation', user: @user%>

<div class="averages module-container">
  <h2 class="ui dividing header">
    <div class="content">
     Overview Stats 
    </div>
  </h2>

  <%= cache ["overview_stats", "#{@user.uid}#{@user.match_summaries.count}"] do %>
  <% averages = @user.averages([:last_hits, :denies, :kills, :deaths, :xp_per_min, :gold_spent]) %>
  <div class="ui six small statistics">
    <div class="statistic">
      <div class="value">
        <%= averages[:last_hits].round(2) %>
      </div>
      <div class="label">
        Last hits (Avg)
      </div>
    </div>

    <div class="statistic">
      <div class="value">
        <%= averages[:denies].round(2) %>
      </div>
      <div class="label">
        Denies (Avg)
      </div>
    </div>

    <div class="statistic">
      <div class="value">
        <%= averages[:kills].round(2) %>
      </div>
      <div class="label">
        Kills (Avg)
      </div>
    </div>

    <div class="statistic">
      <div class="value">
        <%= averages[:deaths].round(2) %>
      </div>
      <div class="label">
        Deaths (Avg)
      </div>
    </div>

    <div class="statistic">
      <div class="value">
        <%= averages[:gold_spent].round %>
      </div>
      <div class="label">
        Net worth (Avg)
      </div>
    </div>

    <div class="statistic">
      <div class="value">
        <%= averages[:xp_per_min].round %>
      </div>
      <div class="label">
        XP/Min (Avg)
      </div>
    </div>
  </div>
  <% end %>
</div>

<section class="module-container">
  <h2 class="ui dividing header">
    <div class="content">
      Recent Matches
    </div>
  </h2>

  <div class="matches">
    <%= render partial: 'matches_table', locals: { matches: @recent_matches } %>
  </div>
</section>

