<%= render 'user_header', user: @user %>
<%= render 'user_navigation', user: @user %>

<section class="module-container">
  <h2 class="ui header">
    <div class="content">
      Comparisons
    </div>
    <% if @current_user.uid == params[:uid].to_i %>
      <%= link_to 'Create', new_comparison_path, class: 'ui right floated small primary button' %>
    <% end %>
  </h2>

  <% if @comparisons.count < 1 %>
    <p>No comparisons available</p>
  <% end %>

  <table class="ui basic table">
    <tbody>
      <% @comparisons.each do |comparison| %>
        <tr>
          <td><%= comparison.title %></td>
          <td class="right aligned">
            <%= link_to 'View', comparison_path(@user.uid, comparison), class: 'ui tiny basic black button' %>
            <% if @current_user.uid == params[:uid].to_i %>
              <%= link_to 'Edit', edit_comparison_path(@user.uid, comparison), class: 'ui tiny basic black button' %>
              <%= link_to 'Delete', comparison_path(@user.uid, comparison), data: { confirm: "Are you sure you want to delete #{comparison.title}" }, method: :delete, class: 'ui tiny basic red button' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>

