
<%= render 'user_header', user: @user %>
<%= render 'user_navigation', user: @user %>

<section class="module-container">
  <h2 class="ui dividing header">
    <div class="content">
      New Comparison
    </div>
  </h2>

  <%= form_for :comparison, { url: comparisons_path, html: { class: 'ui form' }} do |f| %>
    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.label :players %>
      <div class="ui fluid multiple search selection dropdown">
        <%= f.hidden_field :players %>
        <i class="dropdown icon"></i>
        <div class="default text">Select players to compare</div>
        <div class="menu">
          <div class="item" data-value="<%= @current_user.uid %>">
            <img class="ui avatar mini" src="<%= @current_user.image %>">
            <%= @current_user.nickname %>
          </div>
          <% @current_user.friends.each do |friend|%>
            <div class="item" data-value="<%= friend.uid %>">
              <img class="ui avatar mini" src="<%= friend.image %>">
              <%= friend.nickname %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="field">
      <%= f.label :heroes %>
      <div class="ui fluid multiple search selection dropdown">
        <%= f.hidden_field :heroes %>
        <i class="dropdown icon"></i>
        <div class="default text">Select heroes to compare</div>
        <div class="menu">
          <% Dota.api.heroes.each do |hero|%>
            <div class="item" data-value="<%= hero.id %>">
              <img class="ui avatar mini" src="<%= hero.image_url %>">
              <%= hero.name %>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="field">
      <%= f.submit 'Save', class: 'ui button' %>
    </div>
  <% end %>
</section>
