
<%= render 'user_header', user: @user%>
<%= render 'user_navigation', user: @user %>

<section class="module-container">
  <h2 class="ui header">
    <div class="content">
      <%= @comparison.title %>
    </div>
  </h2>

  <% if @comparison.heroes.any? %>
    <h3>Hero selection</h3>
    <div class="ui horizontal list">
      <% @comparison.heroes.each do |hero_id| %>
        <% hero = Dota.api.heroes(hero_id) %>
        <div class="item">
          <img class="ui tiny image dota-hero-image" src="<%= hero.image_url %>"
               data-content="<%= hero.name %>"
               data-variation="inverted">
        </div>
      <% end %>
    </div>
  <% end %>

  <table class="ui basic table">
    <thead>
      <th>
        Player
      </th>
      <th class="right aligned">
        Kills
      </th>
      <th class="right aligned">
        Deaths
      </th>
      <th class="right aligned">
        Last Hits
      </th>
      <th class="right aligned">
        Denies
      </th>
      <th class="right aligned">
        XP per min
      </th>
      <th class="right aligned">
        Net Worth
      </th>
    </thead>
    <tbody>
      <% @comparison.players.each do |player_id| %>
        <%
          player = User.where(uid: player_id).first 
          averages = player.averages([:last_hits, :denies, :kills, :deaths, :xp_per_min, :gold_spent])
        %>
        <tr>
          <td>
            <h5 class="ui image header">
              <img src="<%= player.image %>" class="ui mini image">
              <div class="content">
                <%= player.nickname %>
                <div class="sub header">
                  <%= player.match_summaries.count %> games
                </div>
              </div>
            </h5>
          </td>
          <td class="right aligned">
            <%= averages[:kills].round(2) %>
          </td>
          <td class="right aligned">
            <%= averages[:deaths].round(2) %>
          </td>
          <td class="right aligned">
            <%= averages[:last_hits].round(2) %>
          </td>
          <td class="right aligned">
            <%= averages[:denies].round(2) %>
          </td>
          <td class="right aligned">
            <%= averages[:xp_per_min].round %>
          </td>
          <td class="right aligned">
            <%= averages[:gold_spent].round %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
