
<%= render 'user_header', user: @user %>
<%= render 'user_navigation', user: @user %>

<div class="friends module-container">
  <h2 class="ui dividing header">
    <div class="content">
      Friends
    </div>
  </h2>

  <div class="ui huge relaxed horizontal list"> 
  <% @friends.each do |friend| %>
    <div class="item">
      <% if friend.image %>
        <img class="ui avatar image" src="<%= friend.image %>">
      <% else %>
        <!-- placeholder avatar -->
        <img class="ui avatar image" style="background-color: #ccc;">
      <% end %>
      <div class="content">
        <%= link_to friend.nickname, dashboard_path(friend.uid), class: 'header' %>
      </div>
    </div>
  <% end %>
  </div>
</div>
