
<section class="splash-container">
<h1 class="ui white center aligned huge header">
    <div class="content">
      Dota 2 match stats and analysis
    </div>
    <div>
      <%= link_to '/auth/steam', class: 'ui red basic large button' do %>
        <i class="steam icon"></i>
          Sign in with Steam
      <% end %>
    </div>
  </h1>
</section>

<section class="features ui container">
  <div class="ui grid">
    <div class="four wide column">
      <h3>Farm Statistics</h3>
      <p>
        Easy to read charts and tables tell a story about gold, experience and last hitting for each player.
      </p>
    </div>
    <div class="four wide column">
      <h3>Kill and Death Economy</h3>
      <p>
        Easy to read charts and tables tell a story about gold, experience and last hitting for each player.
      </p>
    </div>
    <div class="four wide column">
      <h3>Personal Hero Rankings</h3>
      <p>
        Easy to read charts and tables tell a story about gold, experience and last hitting for each player.
      </p>
    </div>
    <div class="four wide column">
      <h3>Match Timeline</h3>
      <p>
        Easy to read charts and tables tell a story about gold, experience and last hitting for each player.
      </p>
    </div>
    <div class="four wide column">
      <h3>Match Replayer</h3>
      <p>
        Easy to read charts and tables tell a story about gold, experience and last hitting for each player.
      </p>
    </div>
    <div class="four wide column">
      <h3>Player Comparisons</h3>
      <p>
        Easy to read charts and tables tell a story about gold, experience and last hitting for each player.
      </p>
    </div>
    <div class="four wide column">
      <h3>Player Comparisons</h3>
      <p>
        Easy to read charts and tables tell a story about gold, experience and last hitting for each player.
      </p>
    </div>
    <div class="four wide column">
      <h3>Player Comparisons</h3>
      <p>
        Easy to read charts and tables tell a story about gold, experience and last hitting for each player.
      </p>
    </div>
  </div>
</section>

