
<%= render 'user_header', user: @user %>
<%= render 'user_navigation', user: @user %>

<section class="module-container">
  <h2 class="ui header">
    <div class="content">
      Matches
    </div>
  </h2>

  <%= render partial: 'matches_table', locals: { matches: @matches } %>
  <%= paginate @matches %>
</section>

