<div class="ui centered grid">
  <div class="ten wide column center">
    <h2 class="ui center aligned header">
      <div class="content">
        Account Settings
        <div class="sub header">
          Manage your account settings and preferences
        </div>
      </div>
    </h2>

    <!-- Initiate full match history -->
    <div class="ui segment">
      <h3 class="ui header">
        Match History
        <div class="sub header">
        Click the get match history button to initaiate a request to get a full match history
        </div>
      </h3>

      <button id="request_match_history" data-uri="<%= request_match_history_path %>" class="ui button">Request Match History</button>
    </div>

    <!-- Update email settings -->
    <div class="ui segment">
      <h3 class="ui header">
        User & Email Preferences
        <div class="sub header">
          Add your email to receive notifications, news about updates and weekly gameplay reports
        </div>
      </h3>
      <%= form_for :user, html: { method: :put, class: 'ui form' } do |f| %>
        <div class="field">
          <label>Email Address</label>
          <%= f.text_field :email %>
        </div>
        <div class="ui dividing header">Email Preferences</div>
        <div class="inline field">
          <div class="ui checkbox">
            <%= f.check_box :weekly_reports_preference %>
            <label>Weekly reports</label>
          </div>
        </div>
        <div class="inline field">
          <div class="ui checkbox">
            <%= f.check_box :feature_updates_preference %>
            <label>Feature updates</label>
          </div>
        </div>
        <div class="ui dividing header"></div>
        <button class="ui button">Update</button>
      <% end %>
    </div>
  </div>
</div>
