
<%= render 'user_header', user: @user %>
<%= render 'user_navigation', user: @user %>

<section class="module-container">
  <h2 class="ui dividing header">
    <div class="content">
      Heroes
    </div>
  </h2>
</section>

