/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$nprogress-color: #ED3B1C; 
@import "semantic-ui";
@import "nprogress";

body {
  background-color: #f3f3ee;
}

.brand img{
  display: inline-block;
  width: 120px;
  height: auto;
}

.module-container {
  background-color: white;
  padding: 30px 20px;
  margin: 30px 0;
}

.averages {
  padding-top: 30px;
  box-sizing: border-box;
}

// Homepage
.page-body {
  background: image-url('splash.jpg') no-repeat;
  background-position: center;
  background-size: cover;
}

.splash-container {
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features {
  margin-bottom: 120px;
}

// Footer
.page-footer {
  padding: 40px 0;
}
// Util
.float-left {
  float: left;
}

.float-right {
  float: right
}
