
<footer class="page-footer">
  <div class="ui grid">
    <div class="sixteen wide column">
      <div class="ui divider">
      </div>

      <div class="float-left">
        Copyright 2015 DotaFiend. Dota 2 is a registered trademark of Valve Corporation.
      </div>

      <div class="ui float-right horizontal bulleted link list">
        <%= active_link_to 'Home', root_path, class: "item" %>
        <%= active_link_to 'About', root_path, class: "item" %>
      </div>
    </div>
  </div>
</footer>
