<table class="ui table">
  <thead>
    <tr>
      <th>Hero</th>
      <th>Duration</th>
      <th>Items</th>
      <th>KDA</th>
      <th>Status</th>
      <th>Result</th>
    </tr>
  </thead>
  <tbody>
  <% matches.each do |match| %>
    <tr>
      <td>
        <h5 class="ui image header">
          <img src="<%= DotaUtil.hero_image(match.hero_id) %>" class="ui tiny image">
          <div class="content">
            <%= DotaUtil.hero_name(match.hero_id) %>
            <div class="sub header">
              <%= time_ago_in_words(match.start_time) %> ago
            </div>
          </div>
        </h5>
      </td>
      <td><%= "#{match.duration / 60} Minutes" %></td>
      <td>
        <div class="ui middle aligned mini images">
          <% match.items.each do |item_id| %>
            <% if !DotaUtil.item(item_id).nil? %>
            <img 
              class="image dota-item-image" 
              data-content="<%= DotaUtil.item(item_id).name %>" 
              data-variation="inverted" 
              src="<%= DotaUtil.item(item_id).image_url %>">
            <% end %>
          <% end %>
        </div>
      </td>
      <td>
        <%= "#{match.kills} / #{match.deaths} / #{match.assists}" %>
      </td>
      <td>
        <%= DotaUtil.leaver_status(match.leaver_status) %>
      </td>
      <td>
        <% if match.win %>
          <span class="ui green label">Win</span>
        <% else %>
          <span class="ui red label">Loss</span>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
