
<div class="ui secondary pointing menu">
  <%= active_link_to 'Dashboard', dashboard_path(user.uid), class: 'item' %>
  <%= active_link_to 'Comparisons', comparisons_path(user.uid), class: 'item' %>
  <%= active_link_to 'Matches', matches_path(user.uid), class: 'item' %>
  <%= active_link_to 'Heroes', heroes_path(user.uid), class: 'item' %>
  <%= active_link_to 'Friends', friends_path(user.uid), class: 'item' %>
</div>
