
<%= cache ["user_header", "#{user.uid}#{user.match_summaries.count}"] do %>
  <section>
    <h2 class="ui header">
      <img class="ui image" src="<%= user.image %>" >
      <div class="content">
        <%= user.nickname %>
        <div class="sub header">
          <%= "#{user.match_summaries.count} Matches recorded" %><br>
          <span style="color: #21ba45"><%= user.wins %></span> /
          <span style="color: #db2828"><%= user.losses %></span> /
          <span><%= '%.2f' % (user.win_loss_ratio * 100) %>%</span> 
        </div>
      </div>
    </h2>
  </section>
<% end %>
