<!DOCTYPE html>
<html>
<head>
  <title>DotaFiend</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="ui inverted segment" style="border-radius: 0;">
    <nav class="ui inverted secondary menu">
    <div class="item">
      <h1 alt="DotaFiend Logo" class="brand">
      <%= image_tag("dotafiend_logo.svg") %>
      </h1>
    </div>
    <div class="right menu">
      <% if @current_user %>
      <div class="item">
        <%= link_to dashboard_path(@current_user.uid) do %>
          <img class="ui mini image" src="<%= @current_user.image %>">
        <% end %>
      </div>
      <div class="ui dropdown item">
        <%= @current_user.nickname %> <i class="dropdown icon"></i>
        <div class="menu">
          <%= link_to 'Dashboard', dashboard_path(@current_user.uid), class: 'item' %>
          <%= link_to 'Comparisons', comparisons_path(@current_user.uid), class: 'item' %>
          <%= link_to 'Account Settings', account_path, class: 'item' %>
          <div class="divider"></div>
          <%= link_to 'Logout', logout_path, method: :delete, class: 'item' %>
        </div>
      </div>
      <% else %>
        <div class="item">
          <%= link_to '/auth/steam', class: 'ui green button' do %>
            <i class="steam icon"></i>
            Sign in with Steam
          <% end %>
        </div>
      <% end %>
    </div>
    </nav>
  </header>

  <main class="ui container">
    <%= semantic_flash %>
    <%= yield %>
    <%= render 'footer' %>
  </main>

</body>
</html>
