
<!DOCTYPE html>
<html>
<head>
  <title>FrontEnd</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="page-body">
  <div class="ui container">
    <nav class="ui secondary menu">
      <div class="item">
        <h1 alt="DotaFiend Logo" class="brand">
        <%= image_tag("dotafiend_logo.svg") %>
      </div>
      <div class="right menu">
        <% if @current_user %>
          <%= link_to @current_user.nickname, dashboard_path(@current_user.uid), class: 'item'  %>
          <%= link_to 'Logout', logout_path, method: :delete, class: 'item' %>
        <% else %>
          <div class="item">
            <%= link_to 'Sign In', '/auth/steam', class: 'ui basic red button' %>
          </div>
        <% end %>
      </div>
    </nav>
  <div>

  <%= yield %>

  <%= render 'footer' %>
</body>
</html>
